h2 {
    color: black;
  }
  
  path {
    stroke: white;
    stroke-width: 0.5px;
    fill: black;
  }
  
  .state {
    stroke-width: 1;
    stroke: #ffffff;
  }
  
  .state:hover {
    fill: lightblue;
    cursor: pointer;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 350px;
    height: 15px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: darkblue;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #04AA6D;
    cursor: pointer;
  }
  
  body {
    font-family: Arial, sans-serif;
    padding: 10px;
    /* display: flex; */
    /* justify-content: left; */
    /* align-items: left; */
    /* flex-direction: column; */
  }
  
  p{
    color: #777777;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
  }
  
  h4{
    font-weight: 600;
  }
  
  h5{
    font-weight: 400;
  }
  
  div.tooltip {
    position: absolute;
    text-align: left;
    width: 120px;
    min-height: 30px;
    padding: 8px 12px;
    font: 12px sans-serif;
    background:white;
    border: 0px;
    border-radius: 5px;
    pointer-events: none;
  }
  
  text.label{
    font-size: 12px;
    width: 200px;
  }
  
  .legend {
      padding-top: 60px;
    padding-left: 10px;
    float: left;
  }
  
  .axis text {
      font: 12px sans-serif;
  }
  
  .axis line, .axis path {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
  }